
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoToAccountPanel</title>
</head>
<body>
    <div class="safeZone">
        <form method="post">
            <ul>
                <li>
                    Change username.
                    <input type="text" name="changeName" />
                </li>
                <li>
                    Change password.
                    <input type="password" name="changePassword" />
                </li>
                <li>
                    Change e-mail.
                    <input type="email" name="changeEmail" />
                </li>
                <li>
                    <input type="submit" value="Submit" />
                </li>
            </ul>
        </form>
    </div>
</body>
</html>
