
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Form.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>AddWord</title>
</head>
<body>
    <form method="post">
        <div class="Words">
            <p>Adding word to vocablury</p>
            <input id="Text1" type="text" placeholder="hello" name="ForeignWord" />
            <input id="Text1" type="text" placeholder="хелоу" name="Transcription" />
            <input id="Text1" type="text" placeholder="привет" name="LocalWord" />
            <br />
            <input id="Submit1" type="submit" value="Add" />
        </div>
    </form>
</body>
</html>
