
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Form.css" />
    <title>DeleteWord</title>
</head>
<body>
    <form method="post">
        <div class="Words">
            <div class="select">
                <select name="key" required>
                    <option selected disabled>Deleting row</option>
                    <option value="1">By foreign word</option>
                    <option value="2">By transcription</option>
                    <option value="3">By local word</option>
                </select><br /><br />
            </div>
            <input id="Text1" type="text" name="deletingData" required />
            <input id="Submit1" type="submit" value="Delete" />
        </div>
    </form>
</body>
</html>
