
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="firstHalf" style="background: #4cff00" >
        Здесь что то про мой продукт
    </div>
    <div class="secondHalf">
        <button></button>
        <button></button>
    </div>
</body>
</html>
