
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Index.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>EasyVocabulary</title>
</head>
<body>
    <div class="firstHalf">
        <h1>EasyVocabulary</h1>
        <h3>Сan't speak another language because you don’t have enough vocabulary?</h3>
        <h3>Break this barrier!</h3>
        <h3>With EasyVocabulary you will speak fluently!</h3>
        <div class="firstImage">
            <img style="height: 30px; width: 30px;" src="~/Content/Icons/books.png" alt="Book" />
            <h3 style="padding-left: 0.2em;">
                Fill vocabulary yourself!
            </h3>
        </div>
        <br />
        <div class="firstImage" style="margin: 1% 2% 0 2%">
            <img style="height: 40px; width: 40px;" src="~/Content/Icons/game.png" alt="Gamepad" />
            <h3>
                Learn by heart words in game way!
            </h3>
        </div>
    </div>
    <div class="secondHalf">
        <h1>EasyVocabulary</h1>
        <h3>Не будь столбом! Используй возможность!</h3>
        <a href='@Url.Action("SignIn", "Users")'>
            <button>Sign in</button>
        </a>
        <a href='@Url.Action("SignUp", "Users")'>
            <button>Sign up</button>
        </a>
    </div>
</body>
</html>
