
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Error.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>NotFound</title>
</head>
<body>
    <div class="Error">
        <div class="Article">
            <p>Error!</p>
        </div>
        <div class="ContentError">
            <img src="~/Content/Icons/404.png" width="256" height="256" />
            <p>Page not found...</p>
            @if (Session["User"] != null)
            {
                <a href='@Url.Action("Index", "Vocabularies")'>
                    <button>Go back</button>
                </a>
            }
            else
            {
                <a href='@Url.Action("Index", "Start")'>
                    <button>Go back</button>
                </a>
            }
        </div>
    </div>
</body>
</html>
